<div class="container">  
    <div class="jumbotron mt-4">
        <form action="/exam/new" method="POST"></form>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"><h4>Rellene el examen</h4></th>
                    </tr>
                </thead>
    <h1>{{user.name}}</h1>
                <tbody>
                    <!-- ! PREGUNTA1 -->
                    <tr>
                        <td><Label for="pregunta">Pregunta 1: </Label></td> 
                        <td><input type="text" id="pregunta" class="form-control" required></td>
                    </tr>

                    <tr>
                        <td><label for="primera">Respuesta 1:</label></td>
                        <td><input type="text" id="primera"  required> <input name="respuesta1" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="segunda">Respuesta 2:</label></td>
                        <td><input type="text" id="segunda" required> <input name="respuesta1" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="tercera">Respuesta 3:</label></td>
                        <td><input type="text" id="tercera" required> <input name="respuesta1" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="cuarta">Respuesta 4:</label></td>
                        <td><input type="text" id="cuarta" required> <input name="respuesta1" type="radio"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="quinta">Respuesta 5:</label></td>
                        <td><input type="text" id="quinta" required> <input name="respuesta1" type="radio"></td>
                    </tr>
                    
                    <!-- ! pREGUNTA2 -->
                    <tr>
                        <td><Label for="pregunta">Pregunta 2: </Label></td> 
                        <td><input type="text" id="pregunta" class="form-control" required></td>
                    </tr>

                    <tr>
                        <td><label for="primera">Respuesta 1:</label></td>
                        <td><input type="text" id="primera"  required> <input name="respuesta2" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="segunda">Respuesta 2:</label></td>
                        <td><input type="text" id="segunda" required> <input name="respuesta2" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="tercera">Respuesta 3:</label></td>
                        <td><input type="text" id="tercera" required> <input name="respuesta2" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="cuarta">Respuesta 4:</label></td>
                        <td><input type="text" id="cuarta" required> <input name="respuesta2" type="radio"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="quinta">Respuesta 5:</label></td>
                        <td><input type="text" id="quinta" required> <input name="respuesta2" type="radio"></td>
                    </tr>
                    
                        <!--! PREGUNTA3  -->
                    <tr>
                        <td><Label for="pregunta">Pregunta 3: </Label></td> 
                        <td><input type="text" id="pregunta" class="form-control" required></td>
                    </tr>
    
                    <tr>
                        <td><label for="primera">Respuesta 1:</label></td>
                        <td><input type="text" id="primera"  required> <input name="respuesta3" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="segunda">Respuesta 2:</label></td>
                        <td><input type="text" id="segunda" required> <input name="respuesta3" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="tercera">Respuesta 3:</label></td>
                        <td><input type="text" id="tercera" required> <input name="respuesta3" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="cuarta">Respuesta 4:</label></td>
                        <td><input type="text" id="cuarta" required> <input name="respuesta3" type="radio"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="quinta">Respuesta 5:</label></td>
                        <td><input type="text" id="quinta" required> <input name="respuesta3" type="radio"></td>
                    </tr>

                    <!--! pregunta4 -->
                    <tr>
                        <td><Label for="pregunta">Pregunta 4: </Label></td> 
                        <td><input type="text" id="pregunta" class="form-control" required></td>
                    </tr>

                    <tr>
                        <td><label for="primera">Respuesta 1:</label></td>
                        <td><input type="text" id="primera"  required> <input name="respuesta4" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="segunda">Respuesta 2:</label></td>
                        <td><input type="text" id="segunda" required> <input name="respuesta4" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="tercera">Respuesta 3:</label></td>
                        <td><input type="text" id="tercera" required> <input name="respuesta4" type="radio"></td>
                    </tr>

                    <tr>
                        <td><label for="cuarta">Respuesta 4:</label></td>
                        <td><input type="text" id="cuarta" required> <input name="respuesta4" type="radio"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="quinta">Respuesta 5:</label></td>
                        <td><input type="text" id="quinta" required> <input name="respuesta4" type="radio"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary btn-blick" value="Enviar">
        </div>

    </div> 
            