
    <div class="jumbotron mt-4 mx-auto text-center">
        <h1 class="display-4 mx-auto"> Bienvenido </h1>
        <p class="lead ">Seleccione que usuario es</p>
        <hr class="my-4">
     
            <a class="btn btn-primary" href="https://profesoresutc.herokuapp.com/user/signinProfesores" role="button">Profesores</a>
 
            <a class="btn btn-primary " href="/user/signinAlumnos" role="button">Alumnos</a>
       
    </div>
