<!-- SI EL USUARIO EXISTE ENTONCES MSOTRAMOS ESTO-->
{{#if user}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/menu/alumno"><img src="/img/UTClogo.png" width="60px" height="60px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/menu/alumno">Home <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <a class="nav-link " href="/users/logout" role="button">Cerrar sesión</a>

        {{else}}
        <!-- SI ALUMNO EXISTE PERRO-->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/"><img src="/img/UTClogo.png" width="60px" height="60px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

              </ul>
              <ul class="navbar-nav ml-auto">



                {{/if}}
              </ul>
            </div>
          </div>
        </nav>